@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
@import url(foundation.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
/* line 12, ../_sass/style.sass */
.button {
  border-radius: 2em;
}
/* line 15, ../_sass/style.sass */
.button.big-call {
  font-size: 1.2em;
  padding: 1em 4.4em;
  text-transform: uppercase;
}
/* line 19, ../_sass/style.sass */
.button.muted {
  background: #929292;
}

/* line 22, ../_sass/style.sass */
.page-section {
  -webkit-box-shadow: #626262 0 1px 10px -5px;
  -moz-box-shadow: #626262 0 1px 10px -5px;
  box-shadow: #626262 0 1px 10px -5px;
  margin-bottom: 2em;
  padding-top: 1em;
}
/* line 26, ../_sass/style.sass */
.page-section.no-padding {
  padding-top: 0;
}

/* line 30, ../_sass/style.sass */
#user-action .button {
  color: white;
  margin-bottom: 0;
}

/* line 35, ../_sass/style.sass */
#header {
  min-height: 18em;
}
/* line 38, ../_sass/style.sass */
#header .logo {
  background: white;
  border-radius: 10em;
  box-shadow: 0 2px 10px #626262;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  margin: 1em 0;
  padding: 2em 2.1em;
}
/* line 49, ../_sass/style.sass */
#header .banner-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
/* line 56, ../_sass/style.sass */
#header .intro-text {
  color: white;
  font-size: 1.2em;
  text-shadow: 0 1px 2px #626262;
}
/* line 61, ../_sass/style.sass */
#header .big-call {
  float: right;
  margin-top: 1.5em;
}

/* line 66, ../_sass/style.sass */
#main-content {
  padding-bottom: 0.5em;
}

/* line 71, ../_sass/style.sass */
.progress {
  border: 1px solid #008cba;
  height: 3em;
}
/* line 74, ../_sass/style.sass */
.progress .meter {
  width: 50%;
}
/* line 76, ../_sass/style.sass */
.progress.narrow {
  height: 1em;
}

/* line 80, ../_sass/style.sass */
.leaderboard ul > li {
  list-style-type: none;
  margin-bottom: 1em;
}
/* line 83, ../_sass/style.sass */
.leaderboard ul > li img {
  margin-right: 0.3em;
}

/* line 88, ../_sass/style.sass */
#campaign-list .medium-4 {
  text-align: center;
  margin-bottom: 2em;
}
/* line 91, ../_sass/style.sass */
#campaign-list .medium-4 .inner {
  -webkit-box-shadow: #626262 0 2px 25px -10px;
  -moz-box-shadow: #626262 0 2px 25px -10px;
  box-shadow: #626262 0 2px 25px -10px;
  padding: 1em;
}
/* line 94, ../_sass/style.sass */
#campaign-list .medium-4 .img {
  width: 100%;
}

/* line 98, ../_sass/style.sass */
#matchers .matcher {
  border-right: 1px solid #c2c2c2;
  margin-bottom: 2em;
  text-align: center;
}
/* line 102, ../_sass/style.sass */
#matchers .matcher:last-child {
  border-right: none;
}
/* line 104, ../_sass/style.sass */
#matchers .matcher .inner {
  padding: 1em;
}
/* line 106, ../_sass/style.sass */
#matchers .matcher p {
  font-size: 0.8em;
  color: #929292;
}

/* line 110, ../_sass/style.sass */
.avatar {
  margin-right: 0.5em;
}

/* line 114, ../_sass/style.sass */
form fieldset {
  -webkit-box-shadow: #626262 0 2px 25px -10px;
  -moz-box-shadow: #626262 0 2px 25px -10px;
  box-shadow: #626262 0 2px 25px -10px;
}
/* line 116, ../_sass/style.sass */
form .tip {
  margin-top: 2em;
}
