@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/css/foundation.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
/* line 12, ../_sass/style.sass */
.button {
  border-radius: 2em;
}
/* line 15, ../_sass/style.sass */
.button.big-call {
  font-size: 1.2em;
  padding: 1em 4.4em;
  text-transform: uppercase;
}

/* line 20, ../_sass/style.sass */
.page-section {
  -webkit-box-shadow: #626262 0 2px 25px -5px;
  -moz-box-shadow: #626262 0 2px 25px -5px;
  box-shadow: #626262 0 2px 25px -5px;
  margin-bottom: 2em;
  padding-top: 1em;
}
/* line 24, ../_sass/style.sass */
.page-section.no-padding {
  padding-top: 0;
}

/* line 28, ../_sass/style.sass */
#user-action .button {
  color: white;
  margin-bottom: 0;
}

/* line 33, ../_sass/style.sass */
#header {
  min-height: 18em;
}
/* line 36, ../_sass/style.sass */
#header .logo {
  background: white;
  border-radius: 10em;
  box-shadow: 0 2px 10px #626262;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  margin: 1em 0;
  padding: 2em 2.1em;
}
/* line 47, ../_sass/style.sass */
#header .banner-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
/* line 53, ../_sass/style.sass */
#header .intro-text {
  color: white;
  font-size: 1.2em;
  text-shadow: 0 1px 2px #626262;
}
/* line 58, ../_sass/style.sass */
#header .big-call {
  float: right;
  margin-top: 1.5em;
}

/* line 63, ../_sass/style.sass */
#main-content {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 69, ../_sass/style.sass */
.progress {
  border: 1px solid #008cba;
  height: 3em;
}
/* line 72, ../_sass/style.sass */
.progress .meter {
  width: 50%;
}

/* line 76, ../_sass/style.sass */
.leaderboard ul > li {
  list-style-type: none;
  margin-bottom: 1em;
}
/* line 79, ../_sass/style.sass */
.leaderboard ul > li img {
  margin-right: 0.3em;
}
