---
layout: no-header
title: Be a fundraiser 
---
<h2 class="text-center">Become a Fundraiser</h2>
<hr>
<div id="form-section" class="row">
  <div class="small-12 columns">
    <p>Welcome, Debra Winger</p>
    <form action="">
      <h3>Tell us about your fundraiser</h3>
      <label for=""> For which campaign are you raising funds? 
        <select id="" name="">
          <option value="">Choose one...</option>
          <option value="">Feed the World</option>
          <option value="">Summer School Meals</option>
          <option value="">Feed the Tots</option>
        </select></label>
      <label class="" for="">Are you raising funds as a team or an individual?</label>
      <div class="row">
        <label class="medium-6 columns" for=""><input id="team" name="funder" type="radio"> Team</label>
        <label class="medium-6 columns" for=""><input id="indy" name="funder" type="radio"> Individual</label>
      </div>
      {% include team-form.html %}
      {% include indy-form.html %}
      <hr>
      <div class="row">
        <div class="small-12 columns">
          <p><a class="button" href="#">Create </a><a class="button muted right" href="#">Cancel</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
