  <div class="row">
    <div class="page-section small-12 large-10 columns large-centered">
      <div class="row">
        <div class="small-12 columns">
          <h2>Campaign Donors</h2>
          <table>
            <thead>
              <tr>
                <th width="200"><i class="fa fa-child"></i> Name</th>
                <th width="200"><i class="fa fa-money"></i> Contribution</th>
                <th width="600"><i class="fa fa-comment"></i> Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Edith Wharton</td>
                <td>$40.00</td>
                <td>I love this cause.</td>
              </tr>
              <tr>
                <td>F Scott Fitzgeral</td>
                <td>$1000.00</td>
                <td>Go support this again and again!</td>
              </tr>
              <tr>
                <td>Harper Lee</td>
                <td>$78.00</td>
                <td></td>
              </tr>
              <tr>
                <td>George Orwell</td>
                <td>$100.00</td>
                <td>Let's go team!</td>
              </tr>
              <tr>
                <td>Stephen King</td>
                <td>$20.00</td>
                <td>Hurrah!</td>
              </tr>
              <tr>
                <td>James Baldwin</td>
                <td>$50.00</td>
                <td>This campaign is going to be such a success. I can't wait to see the results.</td>
              </tr>
              <tr>
                <td>William Faulkner</td>
                <td>$200.00</td>
                <td></td>
              </tr>
              <tr>
                <td>Edith Wharton</td>
                <td>$50.00</td>
                <td>Yes I gave again.</td>
              </tr>
              <tr>
                <td>Harper Lee</td>
                <td>$2500.00</td>
                <td>Let's go team!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
