<div class="row">
  <div id="header" class="small-12 columns">
    <img class="banner-image" src="http://placehold.it/884x300&text=banner" alt="">
    <div class="row">
      
      <div class="small-12 columns">
        <a class="logo">C</a>
      </div>
      <div class="small-12 medium-6 columns">
        <p class="intro-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec
        odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
      </div>
      <div class="small-12 medium-6 columns">
        <a class="button big-call" href="donation.html">Donate</a>
      </div>

    </div>
  </div>
</div>
