<div class="row">
  <div id="matchers" class="small-12 medium-10 medium-offset-1 columns page-section">
    <div class="row">

      <div class="matcher small-12 medium-3 columns">
        <div class="inner">
          <img src="{{site.fakeimg}}320x150&text=Org" alt="">
          <h5>Company Name</h5>
          <p class="small">Matches $1 for every $1 you give</p>
        </div>
      </div>
      <div class="matcher small-12 medium-3 columns">
        <div class="inner">
          <img src="{{site.fakeimg}}320x150&text=Org" alt="">
          <h5>Company Name</h5>
          <p class="small">Multiplies every $1 you give by 2</p>
        </div>
      </div>
      <div class="matcher small-12 medium-3 columns">
        <div class="inner">
          <img src="{{site.fakeimg}}320x150&text=Org" alt="">
          <h5>Company Name</h5>
          <p class="small">Multiplies every $1 you give by 2</p>
        </div>
      </div>
      <div class="matcher small-12 medium-3 columns">
        <div class="inner">
          <img src="{{site.fakeimg}}320x150&text=Org" alt="">
          <h5>Company Name</h5>
          <p class="small">Multiplies every $1 you give by 2</p>
        </div>
      </div>
            
    </div>
  </div>
</div>
