  <div id="team-member-form">
    <h4>Customize your donation page</h4>
    <label for="">Profile Image (Max size 640x640) <input type="file"></label>
    <h3>Tell your story</h3>
    <label for="">Story Title <input type="text"></label>
    <label for="">Story Body
      <textarea rows="5"></textarea>
    </label>
    <label for=""><input type="checkbox"> I have supported CAFB before.</label>
    <h3>Invite friends to support your fundraiser</h3>
    <label class="" for="">Enter comma separated emails<textarea rows="5"></textarea></label>
    <label class="" for="">Customize invite 
      <textarea rows="5">Hi you! F. Scott Fitzgerald has invited you to support their fundraiser to support the Summer School Meals program.</textarea>
  </div>
