    <div class="row">
      <div class="page-section small-12 large-10 columns large-centered">
        <div class="row">
            <article class="small-12 columns">
              <div class="row">
                <div class="small-1 columns">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="small-11 columns">
                  <h4>We're almost there! Help us spread the word!</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                  Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
                  vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales
                  leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
                  <p class="read-more-text">
                  Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales
                  leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse
                  potenti.</p>
                  <p><a class="read-more" href="#">Read more...</a></p>
                </div>
              </div>
            </article>
            <article class="small-12 columns">
              <div class="row">
                <div class="small-1 columns">
                  <img src="http://placehold.it/50x50" alt="">
                </div>
                <div class="small-11 columns">
                  <h4>We're almost there! Help us spread the word!</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                  Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
                  vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales
                  leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
                  <p><a href="#">Read more...</a></p>
                </div>
              </div>
            </article>
            <article class="small-12 columns">
              <div class="row">
                <div class="small-11 columns small-offset-1">
                  <h4>We're almost there! Help us spread the word!</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                  Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis
                  vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales
                  leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
                  <p><a href="#">Read more...</a></p>
                </div>
              </div>
            </article>
        </div>
        <hr>
        <div class="row">   
            <div class="small-12 columns"><p class="text-right"><a class="button" href="#">Read more updates</a></p>
        </div>
      </div>
    </div>
   </div>
