<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{site.title}} | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
  </head>
  <body>
    {% include user-bar.html %}
    <div class="row">
      <div class="page-section no-padding small-12 large-10 columns large-centered">
        {% include header.html %}
        <div class="row">
          <div id="main-content" class="small-12 columns">
            {{content}} 
          </div>
        </div>
      </div><!-- end .page-section -->
    </div><!-- end .row -->
    {% if page.matchers contains "show" %}{% include matchers.html %}{% endif %}
    {% if page.updates contains "show" %}{% include updates.html %}{% endif %}
    {% if page.donors contains "show" %}{% include donors.html %}{% endif %}
    {% include scripts.html %}
  </body>
  </html>
